body{
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(180deg, rgb(74, 57, 154), rgb(125, 125, 125));
    margin: 20px auto;
    max-width: 700px;
    height: 1350px;
}



.linkedin,.github {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: arial, Helvetica, sans-serif;  
    font-size: 25px;
}
.linkedin {
    margin-left: 100px;
}

.linkedin img, 
.github img {
    width: 30px;
    height: 30px;
    transition: trasnform 0.3 ease;
}

.linkedin img:hover,
.github img:hover {
    transform: scale(1.2);
}


header {
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
h3 {
    padding: 20px;  
    text-align: center;
    font-family: Arial, sans-serif;
    color: white;
    ;
}
p, .escola {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 24px;
    transition: transform 0.3s ease;
    line-height: 1.5;
}

p:hover, .escola:hover {
    transform: scale(1.05);
}

.sobremim{
    margin: 20px auto;
    font-size: 20px;
    text-align: center;
    
   
}

.Formação{
    margin: 20px auto;
    font-size: 20px;
    text-align: center;
}
.caixa{
    border: 2px solid;
    box-shadow: 0 0 10px;
    border-radius: 10px 10px   ;
    color: rgb(58, 58, 58);
    
}

.formação p {
    margin: 0 auto;
    text-align: center;
}

.footer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 14px;
    opacity: 0.8;
}